openapi: 3.0.3
info:
  contact:
    email: engineering@conekta.com
    name: Api support client
    url: https://github.com/conekta/openapi/issues
  description: Conekta sdk
  license:
    name: MIT-LICENSE
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Conekta API
  version: 2.1.0
servers:
- description: Conekta main server
  url: https://api.conekta.io
security:
- bearerAuth: []
paths:
  /antifraud/whitelists:
    get:
      description: Return all rules
      operationId: GetRuleWhitelist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
          description: All the rules
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "403":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: "Unauthorized access service, please contact support team"
                  code: conekta.errors.forbidden.authentication.invalid_whitelist_access
                  debug_message: "Unauthorized access to whitelists service, please\
                    \ contact support team"
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: forbidden error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Get a list of whitelisted rules
      tags:
      - Antifraud
    post:
      operationId: CreateRuleWhitelist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_risk_rules_data'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/whitelistlist_rule_response'
          description: successfully registered rule
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "403":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: "Unauthorized access service, please contact support team"
                  code: conekta.errors.forbidden.authentication.invalid_whitelist_access
                  debug_message: "Unauthorized access to whitelists service, please\
                    \ contact support team"
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: forbidden error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Create whitelisted rule
      tags:
      - Antifraud
  /antifraud/whitelists/{id}:
    delete:
      operationId: DeleteRuleWhitelist
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/deleted_whitelist_rule_response'
          description: successfully deleted rule
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "403":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: "Unauthorized access service, please contact support team"
                  code: conekta.errors.forbidden.authentication.invalid_whitelist_access
                  debug_message: "Unauthorized access to whitelists service, please\
                    \ contact support team"
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: forbidden error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Delete whitelisted rule
      tags:
      - Antifraud
  /antifraud/blacklists:
    get:
      description: Return all rules
      operationId: GetRuleBlacklist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/risk_rules_list'
          description: All the rules
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Get list of blacklisted rules
      tags:
      - Antifraud
    post:
      operationId: CreateRuleBlacklist
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_risk_rules_data'
        description: requested field for blacklist rule
        required: true
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/blacklist_rule_response'
          description: successfully registered rule
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Create blacklisted rule
      tags:
      - Antifraud
  /antifraud/blacklists/{id}:
    delete:
      operationId: DeleteRuleBlacklist
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/deleted_blacklist_rule_response'
          description: successfully deleted rule
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      summary: Delete blacklisted rule
      tags:
      - Antifraud
  /orders/{id}/charges:
    post:
      description: Create charge for an existing orden
      operationId: ordersCreateCharge
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/charge_create'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/charge_order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "428":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: The order cannot be modified because it has already
                    a charge which is pending payment.
                  message: The order cannot be modified because it has already a charge
                    which is pending payment.
                  param: null
                  code: conekta.errors.precondition_required.combo.order.cannot_be_updated_because_has_charge
                log_id: 641b6e233cd9a50001515039
                object: error
                type: precondition_required_error
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Required
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create charge
      tags:
      - Charges
  /companies:
    get:
      description: Consume the list of child companies.  This is used for holding
        companies with several child entities.
      operationId: getCompanies
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_companies_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get List of Companies
      tags:
      - Companies
  /companies/{id}:
    get:
      operationId: getCompany
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/company_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Company
      tags:
      - Companies
  /customers:
    get:
      description: "The purpose of business is to create and maintain a client, you\
        \ will learn what elements you need to obtain a list of clients, which can\
        \ be paged."
      operationId: getCustomers
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customers_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a list of customers
      tags:
      - Customers
    post:
      description: |
        The purpose of business is to create and keep a customer, you will learn what elements you need to create a customer.
        Remember the credit and debit card tokenization process: [https://developers.conekta.com/page/web-checkout-tokenizer](https://developers.conekta.com/page/web-checkout-tokenizer)
      operationId: createCustomer
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create customer
      tags:
      - Customers
      x-readme:
        code-samples:
        - language: csharp
          code: |
            using System.Collections.Generic;
            using System.Diagnostics;
            using Conekta.net.Api;
            using Conekta.net.Client;
            using Conekta.net.Model;

            namespace Example
            {
                public class CreateCustomerExample
                {
                    public static void Main()
                    {
                        Configuration config = new Configuration();
                        config.AccessToken = "key_ZLy4aP2szht1HqzkCezDEA";

                        var apiInstance = new CustomersApi(config);
                        var customer = new Customer(
                           name: "test dot",
                           phone: "+573143159063",
                           email: "test@conekta.com"
                        );

                        try
                        {
                            CustomerResponse result = apiInstance.CreateCustomer(customer, "es");
                            Debug.WriteLine(result);
                        }
                        catch (ApiException  e)
                        {
                            Debug.Print("Exception when calling CustomersApi.CreateCustomer: " + e.Message);
                            Debug.Print("Status Code: " + e.ErrorCode);
                            Debug.Print(e.StackTrace);
                        }
                    }
                }
            }
          name: Custom sdk
          install: dotnet add package Conekta.net
  /customers/{id}:
    delete:
      description: Deleted a customer resource that corresponds to a customer ID.
      operationId: deleteCustomerById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Delete Customer
      tags:
      - Customers
    get:
      description: Gets a customer resource that corresponds to a customer ID.
      operationId: getCustomerById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Customer
      tags:
      - Customers
    put:
      description: You can update customer-related data
      operationId: updateCustomer
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/update_customer'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/customer_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update customer
      tags:
      - Customers
  /customers/{id}/fiscal_entities:
    post:
      description: Create Fiscal entity resource that corresponds to a customer ID.
      operationId: CreateCustomerFiscalEntities
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_fiscal_entities'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/create_customer_fiscal_entities_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create Fiscal Entity
      tags:
      - Customers
  /customers/{id}/fiscal_entities/{fiscal_entities_id}:
    put:
      description: Update Fiscal Entity resource that corresponds to a customer ID.
      operationId: UpdateCustomerFiscalEntities
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: fis_ent_2tQ8HkkfbauaKP9Ho
        in: path
        name: fiscal_entities_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/customer_update_fiscal_entities'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/update_customer_fiscal_entities_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update  Fiscal Entity
      tags:
      - Customers
  /orders/{id}/discount_lines:
    post:
      description: Create discount lines for an existing orden
      operationId: ordersCreateDiscountLine
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/discount_line_create'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create Discount
      tags:
      - Discounts
  /orders/{id}/discount_lines/{discount_lines_id}:
    delete:
      description: Delete an existing discount lines for an existing orden
      operationId: ordersDeleteDiscountLines
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: dis_lin_2tQ974hSHcsdeSZHG
        in: path
        name: discount_lines_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Delete Discount
      tags:
      - Discounts
    put:
      description: Update an existing discount lines for an existing orden
      operationId: ordersUpdateDiscountLines
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: identifier
        example: dis_lin_2tQ974hSHcsdeSZHG
        in: path
        name: discount_lines_id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/discount_line_update'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/discount_lines_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Update Discount
      tags:
      - Discounts
  /events:
    get:
      operationId: getEvents
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_events_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get list of Events
      tags:
      - Events
  /events/{id}:
    get:
      description: Returns a single event
      operationId: getEvent
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/event_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Event
      tags:
      - Events
  /logs:
    get:
      description: Get log details in the form of a list
      operationId: getLogs
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/logs_response'
          description: successful
          headers:
            Date:
              description: The date and time that the response was sent
              schema:
                example: "Fri, 03 Feb 2023 16:57:48 GMT"
                type: string
            Content-Type:
              description: The format of the response body
              schema:
                example: application/json; charset=utf-8
                type: string
            Content-Length:
              description: The length of the response body in bytes
              schema:
                example: "2737"
                type: string
            Connection:
              description: The type of connection used to transfer the response
              schema:
                example: keep-alive
                type: string
            Conekta-Media-Type:
              schema:
                example: conekta-v2.1.0; format=application/json
                type: string
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get List Of Logs
      tags:
      - Logs
  /logs/{id}:
    get:
      description: Get the details of a specific log
      operationId: getLogById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/log_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Log
      tags:
      - Logs
  /orders:
    get:
      description: Get order details in the form of a list
      operationId: getOrders
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      - description: "The numbers of items to return, the maximum value is 250"
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 250
          minimum: 1
          type: integer
      - description: "General order search, e.g. by mail, reference etc."
        in: query
        name: search
        required: false
        schema:
          type: string
      - description: next page
        in: query
        name: next
        required: false
        schema:
          type: string
      - description: previous page
        in: query
        name: previous
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/get_orders_response'
          description: successful operation
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get a list of Orders
      tags:
      - Orders
    post:
      description: Create a new order.
      operationId: createOrder
      parameters:
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/order'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              examples:
                cash:
                  $ref: '#/components/examples/order_cash'
                  value: null
                card:
                  $ref: '#/components/examples/order_card'
                  value: null
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful operation
        "422":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The token does not exist.
                  param: payment_method.token_id
                  code: conekta.errors.parameter_validation.payment_method.token_id.nonexistent_token
                  debug_message: The token does not exist.
                log_id: 641b6d813cd9a50001515017
                object: error
                type: parameter_validation_error
              schema:
                $ref: '#/components/schemas/error'
          description: parameter validation error
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "402":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The card could not be processed.
                  code: conekta.errors.processing.tokenization.used
                  debug_message: The token has already been used.
                log_id: 641b6d073cd9a50001515007
                object: error
                type: processing_error
              schema:
                $ref: '#/components/schemas/error'
          description: payment required error
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Create order
      tags:
      - Orders
  /orders/{id}:
    get:
      description: Info for a specific order
      operationId: getOrderById
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      - description: "In the case of a holding company, the company id of the child\
          \ company to which will process the request."
        examples:
          "6441b6376b60c3a638da80af":
            summary: for spanish request/response
            value: 6441b6376b60c3a638da80af
        in: header
        name: X-Child-Company-Id
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
                  param: null
                  code: conekta.errors.authentication.missing_key
                log_id: 507f1f77bcf86cd799439011
                object: error
                type: authentication_error
              schema:
                $ref: '#/components/schemas/error'
          description: authentication error
        "404":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: The resource was not found.
                  param: null
                  code: conekta.errors.resource_not_found.entity
                  debug_message: The object Webhook "641b1d5662d7e00001eaa46b" could
                    not be found.
                log_id: 641b6c253cd9a50001514fae
                object: error
                type: resource_not_found_error
              schema:
                $ref: '#/components/schemas/error'
          description: not found entity
        "500":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - debug_message: There was a runtime error and Conekta engineers have
                    been notified.
                  message: There was a runtime error and Conekta engineers have been
                    notified.
                  param: null
                  code: conekta.errors.api.system.general_failure
                object: error
                type: api_error
                log_id: 641b6f2b3cd9a50001515098
              schema:
                $ref: '#/components/schemas/error'
          description: internal server error
      security:
      - bearerAuth: []
      summary: Get Order
      tags:
      - Orders
    put:
      description: Update an existing Order.
      operationId: updateOrder
      parameters:
      - description: Identifier of the resource
        example: 6307a60c41de27127515a575
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Use for knowing which language to use
        examples:
          es:
            summary: for spanish request/response
            value: es
          en:
            summary: for english request/response
            value: en
        in: header
        name: Accept-Language
        required: false
        schema:
          default: es
          enum:
          - es
          - en
          type: string
      requestBody:
        $ref: '#/components/requestBodies/order_update'
      responses:
        "200":
          content:
            application/vnd.conekta-v2.1.0+json:
              schema:
                $ref: '#/components/schemas/order_response'
          description: successful
        "401":
          content:
            application/vnd.conekta-v2.1.0+json:
              example:
                details:
                - message: Please include your access key in your request.
[...]
